/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


* {
	box-sizing: border-box;
	max-width: 100%;
	
}

.container {
	width: 100%; 
	margin: 0 auto; 
  padding: 2vh 4%; 
} 

/* Navigation Content */
.nav-wrapper {
	display: flex;  
	justify-content: center;
	/* position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	z-index: 9999;  */
	background-color: rgba(84, 84, 230, 0.808);
	width: 100%;
	height: 5vh;
	border: 1px solid black; 
}
.nav-wrapper a { 
	margin: .85vh 1vw 0 1.5vw; 
	width: 10vw;
	height: 3vh;
	font-size: 1.15rem;
	text-decoration: none;
	text-align: left;
	color: black;
	font-weight: bold; 
}

.nav-wrapper a:hover {
	color: rgba(120, 255, 86, 0.815); 
}
.nav-wrapper:hover {
	border: 1.5px solid rgba(120, 255, 86, 0.815); 
}

.logo { 
	margin-left: 1%; 
	width: 10;
	height: 36px; 
}
/* End Navigation */

/* Header Content */

.top {
	 display: flex;    
	 align-items: center;
	 justify-content: space-between;
	 border-bottom: 2px solid black; 
	 height: 65vh; 
	 width: 100%;	   
}


/* Left Image */
.header-wrapper {
	height: 36vh;
	width: 45%;
}
.header-wrapper h1 {
	font-size: 4.75rem;
	letter-spacing: 0.75rem;
	text-align: center;
	margin-left: 5%;  
	margin-right: 5%; 
	margin-top: 5vh; 
}
.image1 {
	margin-left: 5%; 
}


/* Button Styles */
.button {
	width: 38%;
	height: 3.5vh;
	margin-left: 31%; 
	border: 1px solid black;  
	cursor: pointer;
	text-align: center;
	font-size: 1.15em;
}
.button:hover {
	background: gray; 
	color: white; 
}

/* Main Content */

/* Top paragraph box styles */

 .top-paragraphs {   
	 display: flex; 
	 justify-content: space-between;
	 align-items: center; 
	 width: 100%;   
	 height: 22vh; 
	 margin-bottom: 3vh; 
}

.top-paragraphs div {
	margin-top: 8vh;  
	height: 23vh; 
	width: 54%; 	 
}
.features {
	margin-right: 3%; 
}

/* Top Paragraph Font Styles */

.top-paragraphs h2 {
	font-size: 1.5rem; 
}
.top-paragraphs p {
	font-size: 1.1rem; 
	line-height: 1.75rem;
}

/* Image Styles */

.middle-img {
	width: 100%; 
	margin-bottom: 4.75vh;  
}

/* Bottom Paragraph Box Styles */

.bottom-paragraphs {
	display: flex; 
	justify-content: space-between;
	border-bottom: 2px solid black; 
	width: 100%; 
	height: 24vh; 
	}
.bottom-paragraphs div {
	width: 32%;
	height: 20vh;    
}
.services {
	margin-right: 1vw; 
}
 .product {
	margin-right: 1vw; 
} 

/* Bottom Paragraph Font Styles */

.bottom-paragraphs p {
	padding: 0 0.25%; 
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.bottom-paragraphs h2 {
	font-size: 1.5rem;
	margin-bottom: 2vh; 
}

/* Footer */
  
.index-footer {
	display: flex; 
	align-items: center; 
	height: 35vh; 
	width: 100%;	
}
.footer-content h2 {
	font-size: 1.5rem;
}
.footer-content p {
	line-height: 1.5rem;
	margin-bottom: 3vh; 
	margin-top: 3.5vh; 
	font-size: 1.2rem; 
}
.copyright {
	text-align: center;
	font-size: 1.2rem;
	margin-right: 5%;
}


/* Services Page */

/* Service Nav Bar */

.logo-nav  {
	display: flex; 
	align-items: center;
	
}

.service-logo {
	height: 4.5vh;
	width: 100%;  
}

/* Service Header */

.services-header-wrapper {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center;
	align-content: space-between;
	margin-top: 8vh; 
}
/* Header Image */

.

.services-header-img {
	width: 100%;
	height: 30vh;
	border: 1px solid black; 
	font-size: 0; 
}

/* Header Box Styles */

.service-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%; 
	height: 20vh; 
	border-bottom: 2px solid black; 
	 
}

/* Header Font Styles */

.service-box h1 {
	font-size: 1.75em;
}

.service-box p {
	height: 7vh; 
	font-size: 1.08em; 
	line-height: 1.25em;
	font-weight: 800;
}

/* "Grid" Area */

.boxes  {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-between;
	align-content: space-around;
	height: 95vh; 
	margin-top: 3vh; 
	margin-bottom: 5vh; 
}


.services-grid {
	height: 29vh; 
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	padding: 2.15vh 2.15%; 
	width: 48%; 
	border: 1px solid black; 
	background: rgba(211, 211, 211, 0.295); 
}

.services-grid h3 {
  font-size: 1.1em;
}
.services-grid p {
	line-height: 1.5em; 
	margin-bottom: 1.75vh; 
	font-size: 1em; 
}

/* Grid Buttons */

.service-button {
	width: 40%; 
	height: 4.5vh; 
	border-radius: 6px; 
	border: 1px solid black; 
}

/* Services Footer */

/* Footer Box Styling */
.services-footer {
	height: 44vh; 
	border-top: 2px solid black;
	display: flex;  
	justify-content: space-between;
	padding-top: 2.5vh; 
}
.services-info-box {
	width: 46%; 
	display: flex; 
	flex-direction: column;
	justify-content: space-evenly;
}

/* Footer Font Styling */

.services-info-box h2 {
	 font-size: 1.25em;
	 
}

.services-info-box p {
	font-size: 1em; 
	line-height: 1.25;
	  
}
.services-info-box ul li {
	margin-left: 4%; 
	list-style-type: disc;
	line-height: 2.25em; 
}

.services-info-img {
	width: 46%; 
}

.services-copyright {
	display: flex; 
	justify-content: center;
	align-items: flex-end;
	height: 8vh;   
}

/* Service page media queries */

 @media (max-width: 500px) { 
	/* .container {
		width: 50%; 
		margin: 0 auto; 
	} */
	.nav-wrapper {
		display: flex;  
		flex-flow: row wrap; 
		justify-content: center;
		
		 /* position: fixed; 
		top: 0;
		left: 0;
		right: 0; 
		z-index: 9999; */
		background-color: rgba(84, 84, 230, 0.87);
		width: 100%;
		height: 50vh;
		border: 1px solid black; 
	}
	.nav-wrapper a { 
		margin: .85vh 3vw 0 1.5vw; 
		width: 100%;
		height: 5vh;
		font-size: 1.15rem;
		text-decoration: none;
		 text-align: center;
		 vertical-align: bottom;
		border-bottom: 1px solid white; 
		color: white;  
		font-weight: bold;
	}

	 .services-header-wrapper{
		text-align: center; 
		
	} 
.service-logo {
	margin-left: 30%;  
	margin-bottom: 2vh; 
	width: 40%
}

	.services-header-wrapper, .services-header-img, .service-box, .boxes, .services-grid, .services-footer, .services-info-box, .footer-img, .services-copyright, .services-header-wrapper {
		display: block; 
		width: 100%;  
	}
	.services-header-wrapper {
		height: 45vh; 
		margin-bottom: 6vh; 	 
		margin-top: 0.1vh; 
		
	}
	.service-box {
		height: 28vh; 
		text-align: left;
	}
	.service-box h1 {
		margin-top: 3vh; 
	}
	 .boxes {
		 height: 98vh; 
		 margin-bottom: 100vh;  
	 }
	 .services-grid {
		 height: 32vh; 
	 }
	
	 .service-footer {
		 height: 30vh; 
		 margin-bottom: 15vh; 
	 }
	 .services-info-box {
		 margin-bottom: 5vh; 
	 }
	 .services-copyright {
		 height: 1vh;
		 margin-top: 40vh; 
		 color: white; 
	 }
	 .services-info-img {
		 width: 100%; 
	 }
}
/* Services Media Query Min 600 */
@media(min-width: 600px) {
	.nav-wrapper {
		display: flex;  
		justify-content: center;
		 position: fixed;
		top: 0;
		left: 0;
		right: 0; 
		z-index: 9999; 
		background-color: rgba(84, 84, 230, 0.808);
		width: 100%;
		height: 5vh;
		border: 1px solid black; 
	}
	.nav-wrapper a { 
		margin: .85vh 1vw 0 1.5vw; 
		width: 10vw;
		height: 3vh;
		font-size: 1.15rem;
		text-decoration: none;
		text-align: left;
		color: black;
		font-weight: bold; 
	}

}

@media(max-width: 500px) {
	.container {
		display: block; 
	}
}